[submodule "bullet3"]
	path = Physics/bullet3
	url = https://github.com/bulletphysics/bullet3
[submodule "DirectX-Headers"]
	path = DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers.git
[submodule "DirectXShaderCompiler"]
	path = DirectXShaderCompiler
	url = https://github.com/microsoft/DirectXShaderCompiler.git



[submodule "imgui"]
	path = imgui/source
	url = https://github.com/ocornut/imgui.git
