[submodule "bullet3"]
	path = Physics/bullet3
	url = https://github.com/bulletphysics/bullet3
[submodule "Rendering/DirectX-Headers"]
	path = Rendering/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers.git
